h1{
    color: blue;
    text-align: center;
    background-color: whitesmoke;
    
}

.poet1{
    text-align: center;
    color: purple;
    background-color: wheat;
}

.poet2{
    text-align: center;
    color: #FF76CE;
    background-color:#94FFD8;
}

P{
    text-align: center;
    color: BLACK;
}